function formatCount(count){
  var counter = parseInt(count,10)
  if(counter > 100000000) {
    return (counter / 100000000).toFixed(1) +"亿"}
  else if (counter > 10000) {
    return (counter / 10000).toFixed(1) + "万"
  }else 
    return counter 
}
function addZero (number){
  number = number+""
  return ("00"+number).slice(number.length)
}
function formatDuration(duration){
  duration= duration/1000
  var minute =Math.floor(duration/60)
  var second = Math.floor(duration)%60
  return addZero(minute)+":"+addZero(second)
}
// 对歌曲的演唱者进行格式化输出
function formatSongAr(ar){
  var str = ''
  for(var i=0;i<ar.length;i++){
    str=str+ar[i].name+'/'
  }
  return str.substring(0,str.length-1)
}
module.exports = {
  formatCount:formatCount,
  formatDuration:formatDuration,
  formatSongAr:formatSongAr
}